*{padding: 0;
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 1440;
    justify-content: center;}

.header_layout{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 100px;

}
.header{
    background-color: hsl(225, 100%, 98%);
    border-bottom-left-radius:15px ;
    border-bottom-right-radius: 15px;
    height: 100px;
    padding: 20px;
}

.toggle{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.rounded_toggle{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.rounded_toggle input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #009ffc;
    transition: .4s;
    border-radius: 15px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.apps{
    display: flex;
    gap: 20px;
    margin-top: -60px;
    justify-content: center;
}

.icon-up{
    display:flex ;
    justify-content: center;
    color: green;
    font-size: 10px;
    gap: 5px;
}

.icon-down{
    display: flex;
    justify-content: center;
    color: red;
    font-size: 10px;
    gap: 5px;
}

.app_users_stats{
    font-size: 20px;
    font-weight: bold;
}

.app_1{
    background-color: hsl(227, 47%, 96%);
    width: 150px;
    height: 100px;
    border-radius: 10px;
    border-top: 3px solid hsl(230, 17%, 14%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.app_2{
    background-color: hsl(227, 47%, 96%);
    width: 150px;
    height: 100px;
    border-radius: 10px;
    border-top: 3px solid rgb(0, 119, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.app_3{
    background-color: hsl(227, 47%, 96%);
    width: 150px;
    height: 100px;
    border-radius: 10px;
    border-top: 3px linear-gradient(to right, yellow, red);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.app_4{
    background-color: hsl(227, 47%, 96%);
    width: 150px;
    height: 100px;
    border-radius: 10px;
    border-top: 3px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.overview{
    display: flex;
    justify-content: flex-start;
}
.username{
    display: flex;
    justify-content: center;
    font-size: 10sp;
}

.top_bar{
    background-color: hsl(228, 84%, 49%);
}
.top_heading{
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.heading_followers{
    color: darkgrey;
    font-size: 10px;
}
.toggle_text{
    color: darkgrey;
    font-size: 10px;
}

.stats{display: flex;
    flex-direction: column;
    gap: 20px;
    }

.stats_1{display: flex;
    gap: 20px;
    justify-content: center;
}

.stats_2{display: flex;
    gap: 20px;
    justify-content: center;
    }

.stats_container_1{
    background-color: hsl(227, 47%, 96%);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    padding: 20px;
}

.stats_container_1a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats_container_1b{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats_container_2{
    background-color: hsl(227, 47%, 96%);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    padding: 20px;
}
.stats_container_2a{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.stats_container_2b{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.users_stats{
    font-size: 20px;
}

.overview_texts_up{
    color: green;
    font-size: 10px;
}
.overview_texts_down{
    color: red;
    font-size: 10px;
}